<table role="presentation" kendogridtable="" class="k-grid-header-table k-table k-table-md">
    <thead kendogridheader="" role="rowgroup" class="k-table-thead">
        <tr role="row" aria-rowindex="1" class="k-table-row">
            <th class="k-header k-table-th">
                ID
            </th>
            <th class="k-header k-table-th">
                Name
            </th>
            <th class="k-header k-table-th">
                Category
            </th>
            <th class="k-header k-table-th">
                Price
            </th>
        </tr>
    </thead>
    <tbody role="rowgroup" class="k-table-tbody">
        <tr class="k-master-row k-table-row" aria-selected="false" data-kendo-grid-item-index="0" role="row"
            aria-rowindex="2">
            <td class="k-table-td k-touch-action-auto" colspan="1" aria-colindex="1">
                1</td>
            <td class="k-table-td k-touch-action-auto" colspan="1" aria-colindex="2">
                Chai</td>
            <td class="k-table-td k-touch-action-auto" colspan="1" aria-colindex="3">
                Beverages
            </td>
            <td class="k-table-td k-touch-action-auto" colspan="1" aria-colindex="4">
                18
            </td>
        </tr>
    </tbody>
    
</table>